*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
max-width: 350px;
height: 440px;
text-align: center;
font-family: arial;
margin-top: 20px;
padding: 20px;
}
.card-deck{
margin-right: 0;
margin-left: 0;
}
.price {
color: grey;
font-size: 18px;
}

.text-input{
padding: .7rem 1em;
display: block;
width: 100%;
border-radius: 5px;
outline: none;
color: #444;
line-height: 1.5rem;
font-family: 'Oswald', sans-serif;
font-size: 1.2em;
border: 4px solid #e0e0e0;
}
.error {
color: #884b4b;
background: rgb(245, 188, 188);
border: 1px solid #6e3a3d;
width: 40%;
}
header .navbar .navbar-brand {
	color: blue;
	width: 10%;
	line-height: 20%;
	height: 20%;
	background-color: none;
}
 .bg-light{
	background-color: #000 !important;
}
.navbar-toggler-icon{
color:  #F3F3F3;
background-color: #F3F3F3;
}
.navbar-toggler{
	color:  #F3F3F3;
background-color: #F3F3F3;
}
.collapse .navbar-nav .nav-item .nav-link{
	color: #F3F3F3;
}
.success {
color: #3a6e3a;
background: #bcf5bc;
border: 1px solid #3a6e3a;
}
.btn.btn-primary.delete{
background-color: #D1001B;
}
.btn.btn-primary.delete:hover{
background-color: red;
}


.auth-content{
width: 60%;
margin: 50px auto;
padding: 20px;
background-color: white;
border-radius: 5px;
}
.auth-content .form-title{
text-align: center;
}
.auth-content form div{
margin-bottom: 10px;
}
.auth-content form p{
text-align: center;
}
.auth-content form p a{
text-decoration: underline;
}

/*.btn {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #22441E;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
border-radius: 20px;
}
.btn:hover {
opacity: 0.7;
background-color: #008000 ;
transition: 0.7s;
}*/
.card-img-top {
height: 200px;
width: 200PX;

}
.card p{
padding: 10px;
}
.card h1{
padding: 10px;
}
.checked{
color: #008000;
}
h1{
font-size: 18px;
}
.site-footer {
background-color: #000;
padding: 45px 0 20px;
font-size: 15px;
line-height: 24px;
color: #737373;
text-align: left;
margin-top: 20px;
}
.site-footer hr {
border-top-color: #bbb;
opacity: 0.5;
}
.site-footer hr.small {
margin: 20px 0;
}
.site-footer h6 {
color: #fff;
font-size: 16px;
text-transform: uppercase;
margin-top: 5px;
letter-spacing: 2px;
}
.site-footer a {
color: #737373;
}
.site-footer a:hover {
color: #2daf4e;
text-decoration: none;
}
.footer-links {
padding-left: 0;
list-style: none;
}
.footer-links li {
display: block;
}
.footer-links a {
color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
color: #2daf4e;
text-decoration: none;
}
.footer-links.inline li {
display: inline-block;
}
.site-footer .social-icons {
text-align: right;
}
.site-footer .social-icons a {
width: 40px;
height: 40px;
line-height: 40px;
margin-left: 6px;
margin-right: 0;
border-radius: 100%;
background-color: #33353d;
}
.copyright-text {
margin: 0;
}
.main-section {
background-color: #F8F8F8;
margin-top: 50px;
}
.dropdown {
float: right;
padding-right: 30px;
}
.btn {
border: 0px;
margin: 10px 0px;
box-shadow: none !important;
}
.dropdown .dropdown-menu {
padding: 20px;

width: 350px !important;
left: -210px !important;
box-shadow: 0px 5px 30px black;
}
/*width: 200px !important;
left: -25px !important;
box-shadow: 0px 5px 30px black;
}*/

.total-header-section {
border-bottom: 1px solid #d2d2d2;
}
.total-section p {
margin-bottom: 20px;
}
.cart-detail {
padding: 15px 0px;
}
.cart-detail-img img {
width: 100%;
height: 100%;
padding-left: 15px;
}
.cart-detail-product p {
margin: 0px;
color: #000;
font-weight: 500;
}
.cart-detail .price {
font-size: 12px;
margin-right: 10px;
font-weight: 500;
}
.cart-detail .count {
color: #C2C2DC;
}
.checkout {
border-top: 1px solid #d2d2d2;
padding-top: 15px;
}
.checkout .btn-primary {
border-radius: 50px;
height: 50px;
}
.dropdown-menu:before {
content: " ";
position: absolute;
top: -20px;
right: 50px;
border: 10px solid transparent;
border-bottom-color: #fff;
}
@media (max-width: 991px) {
.site-footer [class^='col-'] {
margin-bottom: 30px;
}
}
@media (max-width: 767px) {
.site-footer {
padding-bottom: 0;
}
.site-footer .copyright-text,
.site-footer .social-icons {
text-align: center;
}
}
.social-icons {
padding-left: 0;
margin-bottom: 0;
list-style: none;
}
.social-icons li {
display: inline-block;
margin-bottom: 4px;
}
.social-icons li.title {
margin-right: 15px;
text-transform: uppercase;
color: #96a2b2;
font-weight: 700;
font-size: 13px;
}
.social-icons a {
background-color: #eceeef;
color: #818a91;
font-size: 16px;
display: inline-block;
line-height: 44px;
width: 44px;
height: 44px;
text-align: center;
margin-right: 8px;
border-radius: 100%;
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
color: #fff;
background-color: #29aafe;
}
.social-icons.size-sm a {
line-height: 34px;
height: 34px;
width: 34px;
font-size: 14px;
}
.social-icons a.facebook:hover {
background-color: #3b5998;
}
.social-icons a.twitter:hover {
background-color: #00aced;
}
.social-icons a.linkedin:hover {
background-color: #007bb6;
}
.social-icons a.dribbble:hover {
background-color: #ea4c89;
}
@media (max-width: 767px) {
.social-icons li.title {
display: block;
margin-right: 0;
font-weight: 600;
}
}